body{
    background: #172326;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

h2{
    position: absolute;
    left: 360px;
    top: 250px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 75px;
    text-align: center;
    color: #fffdfd;
    }
    
    .start_btn{
        position: absolute;
        width: 410px;
        height: 90px;
        left: 550px;
        top: 400px;
        background: #474AF0;
        border-radius: 66px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: #E5E5E5;
    }

    .navbar-brand {
      font-size: 2rem;
      font-weight: bold;
    }
    
    .navbar-nav .nav-link {
      font-size: 1.2rem;
      font-weight: 500;
    }
    
    /* Styles for the main content */
    .container {
      height: calc(100vh - 80px); /* Set the height of the container to fill the viewport minus the height of the navbar */
    }
    
    .display-4 {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    
    .lead {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 3rem;
    }
    
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
      font-size: 1.5rem;
      font-weight: 500;
      padding: 1rem 2rem;
      transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }
    
    .btn-primary:hover {
      background-color: #0062cc;
      border-color: #005cbf;
    }