<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Depression detection</title>
  <meta name="description" content="ECLIPSE a 3 minute depression test">
  <meta name="keywords" content="depression test using Machine learning">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <!--banner-->
  
  <!--/ banner-->
  <ul class="navbaring">
    <li><a href="/">Home</a></li>
    <li><a class="active" href="quiz">Quiz PHQ9</a></li>
    <li><a href="sentiment">Text Analyzer</a></li>
    <li><a href="face">Face</a></li>
    <li><a href="voice">Voice</a></li>
  </ul>


  <!--service-->
  <form action="/text" method="POST">
  <section id="service" class="section-padding">
    <div class="container">

      <div class="row">
          <div class="col-sm-12">
              <h2 class="ser-title">Take a Test</h2>
              <br>
          </div>
      </div><!--End of  row-->

        <form action="/predictSentiment" method="POST">
        <div class="row">
            <div class="col-md-8 col-sm-8">
              <div class="md-form">
                    <h5>Write something about how do you feel.</h5>
                    <textarea  required="required" id="form10" name="form10" class="md-textarea form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
        </div><!--End of row-->

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <br>
                <button class="btn btn-primary" type="submit">See Result</button>
            </div>
        </div>
        </form><!--End of form-->

    </div>
  </section>
</form>
  <!--/ service-->


  

  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/jquery.easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/custom.js')}}"></script>




</body>

</html>
